/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-3.2.0.min
 *= require jquery-ui.min
 *= require jquery-ui.structure.min
 *= require jquery-ui.theme.min
 *= require_tree .
 *= require_self
 */

.tasks_main_container {
	text-align: center;
}

.rslides {
	position: relative;
}

th {
	text-align: center;
}

.button_to {
	display: inline-block;
}

#sortable { list-style-type: none; width: 100%; }
  /*#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }*/
#sortable li {font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute}

.new_task_inner_container {

}

.homepage_images_container {
	position: relative;
}

.homepage_text_container {
	position: absolute;
	top: 0;
	/*left: 0;*/
	margin-top: 200px;
	text-align: center;
	width: 100%;
	z-index: 3;
	font-size: 80px;
	font-family: tangerine;
	color: white;
}

.homepage_lower_bar_container {
	width: 100%;
	height: 100px;
	margin-top: 500px;
	background-color: RGBA(63, 63, 63, .75);
	position: absolute;
	top:	0;
	z-index: 3;
}

.homepage_lower_bar_writing {
	color: white;
	text-align: center;
	font-size: 40px;
	padding: 2 0px;
}


